@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS */
.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.content-item .content-logo img {
    transition: all 0.7s;
}
.content-item .content-inf {
    text-align: center;
    font-weight: 500;
}
.content-item .content-inf .title {
    opacity: 0.7;
    transition: all 0.7s;
    font-family: "Orbitron", sans-serif;
}
.content-item .content-inf .desc {
    opacity: 0.7;
    transition: all 0.7s;
}
.content-item:hover img {
    animation: imgAni 3s ease;
}
.content-item:hover .title {
    opacity: 1;
}
.content-item:hover .desc {
    opacity: 1;
}
/* CSS */

/* Animation */
@keyframes imgAni {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.15);
    }
}
/* Animation */
