@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS */
.slider-container {
    position: relative;
}
.list-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}
.slider-dot {
    opacity: 0.5;
    width: 70px;
    height: 7px;
    margin-right: 22px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border-radius: 12px;
    transition: all 0.7s;
    cursor: pointer;
}
.slider-dot.active {
    width: 120px;
}
.slider-dot:hover {
    opacity: 1;
}
.slider-item {
    position: relative;
    display: none;
}
.slider-item.active {
    display: block;
}
.slider-item.active img {
    transition: all 0.7s;
    animation: imgScale 5s ease-in-out forwards;
}
.slider-item .slider-img {
    overflow: hidden;
}
.slider-item .slider-content {
    position: absolute;
    top: 30%;
    left: 5%;
}
.slider-item .slider-content .caption {
    font-family: "Orbitron", sans-serif;
    font-size: 45px;
    margin-bottom: 25px;
    color: white;
    z-index: 1;
    transition: all;
}
.slider-item .slider-content .desc {
    color: white;
    margin-bottom: 25px;
    opacity: 0.7;
    font-size: 15px;
}
.slider-item .slider-content .shop {
    padding: 7px 52px;
    border: none;
    color: white;
    border-radius: 22px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    transition: all 0.7s;
}
.slider-item .slider-content .shop:hover {
    background-image: linear-gradient(to left, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.slider-item.active .caption {
    animation: captionAni 3s ease forwards;
}
.slider-item.active .desc {
    animation: descAni 3s ease forwards;
}
.slider-item.active .shop {
    animation: shopAni 3s ease forwards;
}
/* CSS */

/* Animation */
@keyframes imgScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes captionAni {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes descAni {
    0% {
        transform: translateX(40%);
        opacity: 0;
    }
    50% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes shopAni {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Animation */

/* Responsive */
@media (max-width: 1024px) {
    .slider-item .slider-content {
        top: 20%;
    }
    .slider-item .slider-content .caption {
        font-size: 22px;
    }
    .slider-item .slider-content .desc {
        font-size: 12px;
    }
    .slider-item .slider-content .shop {
        padding: 7px 22px;
        font-size: smaller;
    }
}
@media (max-width: 568px) {
    .slider-item .slider-content {
        top: 15%;
    }
    .slider-item .slider-content .caption {
        font-size: 18px;
    }
    .slider-item .slider-content .desc {
        font-size: 10px;
    }
    .slider-item .slider-content .shop {
        padding: 7px 18px;
        font-size: 12px;
    }
}
@media (max-width: 420px) {
    .slider-item .slider-content .caption {
        margin-bottom: 12px;
    }
    .slider-item .slider-content .desc {
        display: none;
    }
}
/* Responsive */
