@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS */
.header {
    color: white;
    position: absolute;
    z-index: 1;
}
.header .menu li {
    cursor: pointer;
    transition: all 0.5s;
}
.header .menu li:hover {
    color: #e25fa5;
}
.header .btn-icon {
    display: flex;
    gap: 22px;
}
.header .btn-icon i {
    cursor: pointer;
    transition: all 0.5s;
}
.header .btn-icon i:hover {
    color: #e25fa5;
}
.header .menu .products {
    padding: 12px 22px;
}
.header .menu .products .cate-product {
    pointer-events: none;
    height: 100vh;
    opacity: 0;
    left: 0;
    top: 150px;
    color: white;
    position: absolute;
    transition: all 0.5s;
    backdrop-filter: blur(10px);
}
.header .menu .products .cate-product img {
    transition: all 0.5s;
    width: 100%;
}
.header .menu .products .cate-product .product-item {
    width: 500px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 18px;
}
.header .menu .products .cate-product .product-item .content-product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: black;
    transition: all 0.5s;
}
.header .menu .products .cate-product .product-item .content-product .title {
    font-family: "Orbitron", sans-serif;
}
.header .menu .products .cate-product .product-item .content-product .btn-shop {
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.header .menu .products .cate-product .product-item .content-product .btn-shop i {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    transition: all 0.5s;
}
.header .menu .products .cate-product .product-item:hover img {
    transform: scale(1.15);
}
.header .menu .products .cate-product .product-item .content-product .btn-shop:hover i {
    transform: rotate(-45deg);
}
.header .menu .products .cate-product .product-item .content-product .btn-shop:hover {
    color: #e25fa5;
}
.header .menu .products:hover .cate-product {
    opacity: 1;
    pointer-events: visible;
    top: 72px;
}


/* Responsive menu */
.fa-bars {
    display: none;
}
.menu-container {
    position: fixed;
    left: -100%;
    opacity: 0;
    width: 40vw;
    height: 100vh;
    top: 0;
    background-color: #1e1e20;
    padding: 0;
    transition: all 0.5s;
}
.menu-container.active {
    opacity: 1;
    left: 0;
}
.menu-container.active::after{
    content: "";
    position: absolute;
    right: -150%;
    height: 100vh;
    width: 60vw;
    backdrop-filter: blur(10px);
    z-index: 0;
}
.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 12px;
    right: 12px;
    background-color: #e25fa5;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.close-btn i {
    transition: all 0.5s;
}
.close-btn:hover {
    background-color: white;
}
.close-btn:hover i {
    transform: rotate(-45deg);
    color: #f5576c;
}
.header .res-menu {
    position: absolute;
    width: 100%;
    top: 90px;
    left: -100%;
    opacity: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    transition: all 0.5s;
}
.header .res-menu.active {
    left: 0;
    opacity: 1;
}
.header .res-menu li {
    cursor: pointer;
    width: 90%;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.5s;
    padding-bottom: 10px;
}
.header .res-menu li::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0px;
    transition: all 0.5s;
}
.header .res-menu li:hover {
    color: #e25fa5;
}
.header .res-menu li:hover::after {
    width: 100%;
    background-color: #e25fa5;
}
.header .sub-product {
    position: absolute;
    width: 100%;
    top: 90px;
    opacity: 0;
    right: -100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    transition: all 0.5s;
}
.header .sub-product li {
    cursor: pointer;
    width: 90%;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.5s;
    padding-bottom: 10px;
}
.header .sub-product li::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0px;
    transition: all 0.5s;
}
.header .sub-product.active {
    opacity: 1;
    right: 0;
}
.header .sub-product li:hover {
    color: #e25fa5;
}
.header .sub-product li:hover::after {
    width: 100%;
    background-color: #e25fa5;
}

/* Responsive menu */
/* CSS */

/* Responsive */
@media (max-width: 1200px) {
    .header .menu .products .cate-product .product-item {
        width: 400px;
    }
}
@media (max-width: 992px) {
    .header .menu li {
        display: none;
    }
    .fa-bars {
        display: block;
    }
}
@media(max-width:701px){
    .menu-container{
        width: 65vw;
    }
    .menu-container.active::after{
        right: -91.9%;
    }
}
/* Responsive */
